<!doctype html>
<html ng-app="todomvc">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="base.css">
	</head>
	<body>
		<section id="todoapp" ng-controller= "todoCtrl">
			<header id="header">
				<h1>todos</h1>
				<form id="todo-form" ng-submit="addTodo()">
					<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
				</form>
			</header>
      
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list" >
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-repeat="todo in todosList" ng-class="{completed: checked}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="checked">
							<label ng-dblclick="editTodo(todo)">{{todo}}</label>
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
					</li>
				</ul>
			</section> <!-- id="main" -->
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count"><strong>1</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed">Clear completed (1)</button>
			</footer><!--  id="footer"  -->
		</section><!--  id="todoapp"  -->
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://about.me/joaocarlosferreira">me</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer><!--  id="info"  -->
		  
		<!-- Scripts here. Don't remove this ↓ -->
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>